.guess-word-grid {
  --cell-size: clamp(1.5rem, 7.5vw, 2rem);

  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(12, var(--cell-size));
}

.guess-word-cell {
  border: thin hsl(0, 0%, 46%) inset;
  border-radius: 2px;
  padding: 0;
}

.--letter-cell {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.--score-cell {
  background-color: hsl(204, 93.8%, 93.7%);
  min-width: 4rem;
}

.--matching-cell {
  background-color: hsl(140, 84.2%, 92.5%);
}

.--non-matching-cell {
  background-color: hsl(54, 96.7%, 88%);
}

.--disabled-cell {
  background-color: hsla(0, 0%, 46%, 0.15);
  color: hsl(0, 0%, 33%);
}

.--align-center {
  text-align: center;
  line-height: var(--cell-size);
}

.--align-right {
  text-align: right;
}

.--mono-font {
  font-family: 'Roboto Mono';
}

.--cursor {
  cursor: pointer;
}